.div404 {
  margin-top: 90px;
  position: relative;
  width: 1920px;
  height: 744px;
  display: flex;
  flex-direction: row;
  overflow: hidden;

  .linkDiv {
    margin-left: 90px;

    .iconsDiv {
      display: flex;
      flex-direction: column;
    }
    .first-bar {
      position: relative;
      width: 260px;
      height: 0px;
      //   left: 108px;
      //   top: 180px;

      border: 1px solid #4ca6e0;
      transform: rotate(90deg);
    }

    .second-bar {
      position: relative;
      width: 260px;
      height: 0px;
      left: 108px;
      top: 619px;

      //   border: 1px solid #4ca6e0;
      //   transform: rotate(90deg);
    }

    // .iconsDiv {

    //     i {
    //         width: 18px;
    //         height: 18px;
    //     }
    // }
  }

  .contentClass {
    display: flex;
    .label404 {
      //   width: 903px;
      //   height: 495px;
      //   left: 509px;
      //   top: 180px;
      //   font-family: $font-title;
      //   font-style: normal;
      //   font-weight: 700px;
      //   font-size: 450px;
      //   line-height: 675px;
      //   color: $secondary;
      //   filter: blur(20px);
    }
  }
}
