*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.div404 {
  position: relative;
  width: 1366px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
}

.div404 .linkDiv {
  width: 26.32px;
  padding-left: 79px;
  height: 488px;
  z-index: 1;
}

.div404 .linkDiv .first-bar {
  width: 204px;
  border: 1px solid #4ca6e0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  left: 0;
}

.div404 .linkDiv .iconsDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 194px;
}

.div404 .linkDiv .iconsDiv i {
  font-size: 18px;
}

.div404 .linkDiv .iconsDiv .fa-github {
  color: #000;
}

.div404 .linkDiv .iconsDiv .fa-linkedin {
  color: #0077b5;
  margin-top: 23px;
}

.div404 .linkDiv .iconsDiv img {
  width: 18px;
  height: 18px;
  margin-top: 23px;
}

.div404 .linkDiv .second-bar {
  width: 204px;
  border: 1px solid #4ca6e0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  bottom: 0;
  left: 0;
}

.div404 .contentClass {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 0;
}

.div404 .contentClass:hover {
  -webkit-filter: blur(0px);
          filter: blur(0px);
}

.div404 .contentClass .label404 {
  font-size: 300px;
  font-weight: bold;
  margin-left: 423px;
  margin-top: -34px;
  padding-bottom: 10px;
  color: #ea4fe7;
}

.div404 .contentClass .labelContent {
  font-weight: 500;
  margin-left: 444px;
  margin-top: -80px;
  color: #ea4fe7;
}

.div404 .contentClass .btn-HomePage {
  font-size: 22px;
  font-weight: bold;
  padding-top: 17px;
  color: #fff;
  background: #4ca6e0;
  border-radius: 10px;
  width: 193.16px;
  height: 67px;
  margin-left: 580px;
  margin-top: 32px;
  text-align: center;
  text-decoration: none;
  -webkit-filter: blur(0px);
          filter: blur(0px);
}

.section-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 34px 90px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.section-navbar a {
  position: relative;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  font-size: 18px;
  color: #545454;
}

.section-navbar a:hover {
  text-decoration: none;
}

.section-navbar .logo-container .span-logo {
  color: #4ca6e0;
}

.section-navbar .links-container a {
  margin: 0 20px;
}

.section-navbar .links-container a::after {
  content: "";
  position: absolute;
  background-color: #4ca6e0;
  height: 2px;
  width: 0;
  left: 0;
  bottom: -0px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.section-navbar .links-container a:hover {
  color: #4ca6e0;
}

.section-navbar .links-container a:hover::after {
  width: 100%;
}

.section-navbar .links-container .active {
  color: #4ca6e0;
  position: relative;
  width: 0;
}

.section-navbar .links-container .active span::after {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  content: "";
  left: 0;
  bottom: -0px;
  position: absolute;
  background: #4ca6e0;
  height: 2px;
  width: 100%;
}
/*# sourceMappingURL=app.css.map */