.div404 {
  position: relative;
  width: 1366px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
}

.div404 .linkDiv {
  width: 26.32px;
  padding-left: 79px;
  height: 488px;
  z-index: 1;
}

.div404 .linkDiv .first-bar {
  width: 204px;
  border: 1px solid #4CA6E0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  left: 0;
}

.div404 .linkDiv .iconsDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 194px;
}

.div404 .linkDiv .iconsDiv i {
  font-size: 18px;
}

.div404 .linkDiv .iconsDiv .fa-github {
  color: #000;
}

.div404 .linkDiv .iconsDiv .fa-linkedin {
  color: #0077b5;
  margin-top: 23px;
}

.div404 .linkDiv .iconsDiv img {
  width: 18px;
  height: 18px;
  margin-top: 23px;
}

.div404 .linkDiv .second-bar {
  width: 204px;
  border: 1px solid #4CA6E0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  bottom: 0;
  left: 0;
}

.div404 .contentClass {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 0;
}

.div404 .contentClass .label404 {
  font-size: 300px;
  font-weight: bold;
  margin-left: 423px;
  margin-top: -34px;
  color: #EA4FE7;
  -webkit-filter: blur(9px);
          filter: blur(9px);
}

.div404 .contentClass .label404:hover {
  -webkit-filter: blur(0px);
          filter: blur(0px);
}

.div404 .contentClass .labelContent {
  font-weight: 500;
  margin-left: 444px;
  margin-top: -80px;
  color: #EA4FE7;
  -webkit-filter: blur(9px);
          filter: blur(9px);
}

.div404 .contentClass .labelContent:hover {
  -webkit-filter: blur(0px);
          filter: blur(0px);
}

.div404 .contentClass .btn-HomePage {
  font-size: 22px;
  font-weight: bold;
  padding-top: 17px;
  color: #fff;
  background: #4ca6e0;
  border-radius: 10px;
  width: 193.16px;
  height: 67px;
  margin-left: 580px;
  margin-top: 32px;
  text-align: center;
  text-decoration: none;
}

.section-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 34px 90px;
  font-family: "Poppins", serif;
  font-weight: bold;
}

.section-navbar .span-logo {
  color: #4CA6E0;
}

.section-navbar .active {
  color: #4CA6E0;
}

.section-navbar .active .span-link-active {
  text-decoration: underline;
}

.section-navbar a {
  color: #545454;
  font-size: 18px;
}

.section-navbar a:hover {
  text-decoration: none;
}

.section-navbar .home-link,
.section-navbar .contact-link,
.section-navbar .portfolio-link,
.section-navbar .about-link {
  margin-left: 27px;
}

.section-navbar .home-link:hover,
.section-navbar .contact-link:hover,
.section-navbar .portfolio-link:hover,
.section-navbar .about-link:hover {
  color: #4CA6E0;
}

.section-navbar .home-link:hover .active,
.section-navbar .contact-link:hover .active,
.section-navbar .portfolio-link:hover .active,
.section-navbar .about-link:hover .active {
  color: #545454;
}

.section-navbar .home-link:hover .active .span-link-active,
.section-navbar .contact-link:hover .active .span-link-active,
.section-navbar .portfolio-link:hover .active .span-link-active,
.section-navbar .about-link:hover .active .span-link-active {
  text-decoration: none;
}

.section-navbar .home-link .span-link-active:hover,
.section-navbar .contact-link .span-link-active:hover,
.section-navbar .portfolio-link .span-link-active:hover,
.section-navbar .about-link .span-link-active:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=app.css.map */