.section-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 34px 90px;
  font-family: $font-title;
  font-weight: bold;

  a {
    position: relative;
    font-family: $font-title;
    letter-spacing: 1px;
    font-size: 18px;
    color: $text-color;

    &:hover {
      text-decoration: none;
    }
  }

  .logo-container {
    .span-logo {
      color: $accent;
    }
  }

  .links-container {
    a {
      margin: 0 20px;

      &::after {
        content: "";
        position: absolute;
        background-color: $accent;
        height: 2px;
        width: 0;
        left: 0;
        bottom: -0px;
        transition: 0.3s ease-in-out;
      }

      &:hover {
        color: $accent;
      }

      &:hover::after {
        width: 100%;
      }
    }
    .active {
      color: $accent;
      position: relative;
      width: 0;

      span {
        &::after {
          transition: 0.3s ease-in-out;
          content: "";
          left: 0;
          bottom: -0px;
          position: absolute;
          background: $accent;
          height: 2px;
          width: 100%;
        }
      }
    }
  }
}
